.popup__heading {
  font-family: "Inter", "Arial", sans-serif;
  font-size: 24px;
  font-weight: 900;
  margin: 0 64px 54px 36px;
  align-self: flex-start;
}

@media screen and (max-width: 510px) {
  .popup__heading {
    font-size: 18px;
    margin: 0 22px 75px 22px;
  }
}