.profile {
  margin: 40px auto 0 auto;
  display: flex;
  align-items: center;
  max-width: 880px;
  min-height: 120px;
}

@media screen and (max-width: 890px) {
  .profile {
    margin: 40px 19px 0 19px;
  }
}

@media screen and (max-width: 650px) {
  .profile {
    flex-direction: column;
  }
}
