.photo-grid__text {
  font-family: "Inter", "Arial", sans-serif;
  font-size: 24px;
  font-weight: 900;
  line-height: 15px;
  color: black;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 0;
  height: 30px;
}