.profile__add-Button-border {
  width: 150px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #FFF;
  margin-left: auto;
  border-radius: 2px;
}

.profile__add-Button-border:hover {
  opacity: 0.25;
  cursor: pointer;
}

@media screen and (max-width: 585px) {
  .profile__add-Button-border {
    margin: 36px auto 0 auto;
    width: 282px;
  } 
}