.profile__edit-button-border {
  border: 1px solid #FFF;
  width: 24px;
  height: 24px;
  margin-left: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile__edit-button-border:hover {
  opacity: 0.25;
  cursor: pointer;
}

@media screen and (max-width: 320px) {
  .profile__edit-button-border {
    width: 18px;
    height: 18px;
  }
}