.popup__close {
  position: absolute;
  top: -28px;
  right: -28px;
  visibility: hidden;
}

.popup__close:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (max-width: 480px) {
  .popup__close {
    top: -26px;
    right: 0px
  }
}