.popup__close-image {
    position: relative;
    align-self: flex-end;
    top: 8px;
    right: -8px;
    font: inherit;
    color: inherit;
    background-color: transparent;
    border: none;
    width: 32px;
    height: 32px;
    background-image: url(../../../images/CloseIcon.svg);
    background-position: center;
    background-size: cover;
  }
  
  .popup__close:hover {
    opacity: 0.6;
    cursor: pointer;
  }
  
  @media screen and (max-width: 510px) {
    .popup__close-image {
      width: 20px;
      height: 20px;
      top: -16px;
      right: 0;
    }
  }