.photo-grid__like {
  width: 22px;
  height: 19px;
}

.photo-grid__like:hover {
  opacity: 0.5;
  cursor: pointer;
}

.photo-grid__like:active {
  background-image: url(../../../images/BlackHeart.png);
  opacity: 1;
}