.profile__button {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 16px;
}

@media screen and (max-width: 650px) {
  .profile__button {
    margin-top: 26px;
    margin-bottom: 14px;
  }
}